doctype html
html
  head
    title='Shorten'
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    script(src='/jquery/dist/jquery.js')
    script(src='/bootstrap/dist/js/bootstrap.js')
  body
    div(class='container')
      block content